<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="artwork">
            <h2><span jhiTranslate="hslashartApp.artwork.detail.title">Artwork</span> {{artwork.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hslashartApp.artwork.title">Title</span></dt>
                <dd>
                    <span>{{artwork.title}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.description">Description</span></dt>
                <dd>
                    <span>{{artwork.description}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.price">Price</span></dt>
                <dd>
                    <span>{{artwork.price}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.currency">Currency</span></dt>
                <dd>
                    <span jhiTranslate="{{'hslashartApp.Currency.' + artwork.currency}}">{{artwork.currency}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.image">Image</span></dt>
                <dd>
                    <span>{{artwork.image}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.thumbnail">Thumbnail</span></dt>
                <dd>
                    <span>{{artwork.thumbnail}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.dimensions">Dimensions</span></dt>
                <dd>
                    <span>{{artwork.dimensions}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{artwork.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.creditLine">Credit Line</span></dt>
                <dd>
                    <span>{{artwork.creditLine}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.copyrightImage">Copyright Image</span></dt>
                <dd>
                    <span>{{artwork.copyrightImage}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.classification">Classification</span></dt>
                <dd>
                    <span>{{artwork.classification}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.availability">Availability</span></dt>
                <dd>
                    <span jhiTranslate="{{'hslashartApp.Availability.' + artwork.availability}}">{{artwork.availability}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.artwork.artist">Artist</span></dt>
                <dd>
                    <div *ngIf="artwork.artist">
                        <a [routerLink]="['/artist', artwork.artist?.id, 'view']">{{artwork.artist?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/artwork', artwork.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
