<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gallery">
            <h2><span jhiTranslate="hslashartApp.gallery.detail.title">Gallery</span> {{gallery.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hslashartApp.gallery.title">Title</span></dt>
                <dd>
                    <span>{{gallery.title}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.gallery.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{gallery.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.gallery.description">Description</span></dt>
                <dd>
                    <span>{{gallery.description}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.gallery.order">Order</span></dt>
                <dd>
                    <span>{{gallery.order}}</span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.gallery.artwork">Artwork</span></dt>
                <dd>
                    <span *ngFor="let artwork of gallery.artworks; let last = last">
                        <a [routerLink]="['/artwork', artwork?.id, 'view' ]">{{artwork.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="hslashartApp.gallery.artist">Artist</span></dt>
                <dd>
                    <div *ngIf="gallery.artist">
                        <a [routerLink]="['/artist', gallery.artist?.id, 'view']">{{gallery.artist?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gallery', gallery.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
